In [4]:
import pandas as pd

import numpy as pn

In [5]:
df=pd.read_csv("data/data.csv")

In [6]:
df

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,AZ,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,VLA,8901064
2,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,MODBA.1,8901064
3,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,JANSS,8901064
4,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,MOD,8901064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553360,2022-W46,SK,688658.0,0.0,0.0,0,NaN,0,1,14,3,0,SK,Age60_69,UNK,5459781
553361,2022-W46,SK,407927.0,0.0,0.0,0,NaN,0,1,49,1,0,SK,Age70_79,COM,5459781
553362,2022-W46,SK,407927.0,0.0,0.0,0,NaN,0,0,37,0,0,SK,Age70_79,UNK,5459781
553363,2022-W46,SK,189121.0,0.0,0.0,0,NaN,0,0,29,0,0,SK,Age80+,UNK,5459781
553364,2022-W46,SK,189121.0,0.0,0.0,0,NaN,0,0,17,5,0,SK,Age80+,COM,5459781

In [7]:
df.head()

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,AZ,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,VLA,8901064
2,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,MODBA.1,8901064
3,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,JANSS,8901064
4,2020-W53,AT,7388778.0,0.0,0.0,0,NaN,0,0,0,0,0,AT,ALL,MOD,8901064

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553365 entries, 0 to 553364
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YearWeekISO          553365 non-null  object
 1   ReportingCountry     553365 non-null  object
 2   Denominator          292228 non-null  float64
 3   NumberDosesReceived  68066 non-null   float64
 4   NumberDosesExported  72101 non-null   float64
 5   FirstDose            553365 non-null  int64
 6   FirstDoseRefused     1447 non-null    float64
 7   SecondDose           553365 non-null  int64
 8   DoseAdditional1      553365 non-null  int64
 9   DoseAdditional2      553365 non-null  int64
 10  DoseAdditional3      553365 non-null  int64
 11  UnknownDose          553365 non-null  int64
 12  Region               553365 non-null  object
 13  TargetGroup          553365 non-null  object
 14  Vaccine              553365 non-null  object
 15  Population           553365 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 67.5+ MB

In [9]:
print(df.head().to_markdown())

|    | YearWeekISO   | ReportingCountry   |   Denominator |   NumberDosesReceived |   NumberDosesExported |   FirstDose |   FirstDoseRefused |   SecondDose |   DoseAdditional1 |   DoseAdditional2 |   DoseAdditional3 |   UnknownDose | Region   | TargetGroup   | Vaccine   |   Population |
|---:|:--------------|:-------------------|--------------:|----------------------:|----------------------:|------------:|-------------------:|-------------:|------------------:|------------------:|------------------:|--------------:|:---------|:--------------|:----------|-------------:|
|  0 | 2020-W53      | AT                 |   7.38878e+06 |                     0 |                     0 |           0 |                nan |            0 |                 0 |                 0 |                 0 |             0 | AT       | ALL           | AZ        |      8901064 |
|  1 | 2020-W53      | AT                 |   7.38878e+06 |                     0 |                     0 |           0 |                nan |            0 |                 0 |                 0 |                 0 |             0 | AT       | ALL           | VLA       |      8901064 |
|  2 | 2020-W53      | AT                 |   7.38878e+06 |                     0 |                     0 |           0 |                nan |            0 |                 0 |                 0 |                 0 |             0 | AT       | ALL           | MODBA.1   |      8901064 |
|  3 | 2020-W53      | AT                 |   7.38878e+06 |                     0 |                     0 |           0 |                nan |            0 |                 0 |                 0 |                 0 |             0 | AT       | ALL           | JANSS     |      8901064 |
|  4 | 2020-W53      | AT                 |   7.38878e+06 |                     0 |                     0 |           0 |                nan |            0 |                 0 |                 0 |                 0 |             0 | AT       | ALL           | MOD       |      8901064 |